body {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

h1 {
  font-size: 50px;
  margin-top: 30px;
}

h5 {
  font-weight: lighter;
  text-transform: capitalize;
  font-size: 16px;
}
a {
  text-decoration: none;
}

sup {
  top: -0.3em;
}
footer {
  font-size: smaller;
  line-height: 0;
}
sup {
  top: -0.3em;
}
.weather-app {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  padding-bottom: 10px;
  color: #fbfcfb;
  background: linear-gradient(
    109.6deg,
    rgb(121, 203, 202) 11.2%,
    rgb(119, 161, 211) 91.1%
  );
  border-radius: 10px;
}
.temperature {
  font-size: 40px;
  font-weight: 700px;
}
.unit {
  font-size: 30px;
  font-weight: 700px;
}
.units .active {
  color: #ffff;
  cursor: default;
}
.weather-forecast {
  margin-top: 13px;
  text-align: center;
  font-size: 12px;
  font-style: italic;
  color: #575151;
}
.weather-forecast-temperature {
  font-size: 15px;
  margin-bottom: 30px;
}
.weather-forecast-temperature-min {
  opacity: 0.8;
}

.search {
  color: #ffff;
  font-weight: bolder;
  background-color: #f9a01b;
  border-color: darkgray;
  transition: all 200ms ease-in-out;
}
.search:hover {
  color: white;
  border-color: transparent;
  background-color: #fac70b;
}
